# voice control
SpeechRecognition[faster-whisper]
pyaudio
pyttsx3
soundfile

# screen manipulation, might not need these anymore
screeninfo
pygetwindow
pyautogui

# LLM
dspy

# volume control
pycaw

# frontend
flask
opencv-python

python-pptx
pillow
